@font-face {
  font-family: MuseoSansRounded;
  src: url("./font/MuseoSansRounded100.otf"), url("./font/MuseoSansRounded300.otf"), url("./font/MuseoSansRounded500.otf"), url("./font/MuseoSansRounded700.otf"), url("./font/MuseoSansRounded900.otf"), url("./font/MuseoSansRounded1000.otf");
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #525fe1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: MuseoSansRounded;
  scroll-behavior: smooth;
  scroll-margin-top: 10ex;
}

a {
  text-decoration: none;
  color: black;
}

body {
  background-color: white;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 70px;
  background-color: #f9fbfc;
}
header .container__header {
  max-width: 1200px;
  height: 100%;
  margin: auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container__header i {
  color: #525fe1;
}
header .container__header a {
  color: #525fe1;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
}
header .container__header .menu {
  background-color: #f9fbfc;
  height: 0px;
  position: absolute;
  right: 5px;
  top: 65px;
  overflow: hidden;
  z-index: 10;
  box-shadow: 0px 0px 30px -20px rgba(0, 0, 0, 0.5);
  transition: all 300ms;
}
header .container__header .menu nav ul {
  display: flex;
  padding: 20px 0px;
  flex-direction: column;
}
header .container__header .menu nav ul li {
  list-style: none;
  padding: 10px 40px;
}
header .container__header .menu nav ul li .item-nav, header .container__header .menu nav ul li .item-nav-activo {
  font-size: 16px;
  text-decoration: none;
  transition: opacity 300ms;
  color: gray;
}
header .container__header .menu nav ul li .item-nav-activo {
  color: #525fe1;
}
header .container__header .mostrar_menu {
  height: 235px;
}
header .container__header #icon_menu {
  display: block;
  cursor: pointer;
  font-size: 24px;
}

@media (min-width: 992px) {
  header .container__header {
    padding: 0px 50px;
  }
  header .container__header #icon_menu {
    display: none;
  }
  header .container__header .menu {
    position: relative;
    overflow: visible;
    top: 10px;
    right: 0;
    height: auto;
    background-color: rgba(249, 251, 252, 0);
  }
  header .container__header .menu nav ul {
    flex-direction: row;
    padding: 0;
    gap: 20px;
  }
  header .container__header .menu nav ul li {
    padding: 0;
  }
}
.navbar {
  height: 65px;
}
.navbar .container .navbar-brand {
  color: #525fe1;
  font-family: MuseoSansRounded;
  font-weight: 1000;
}
.navbar .container .navbar-toggler-icon {
  width: 25px;
  height: 25px;
  padding: 0;
}
.navbar .container #navbarNavDropdown {
  background-color: #f9fbfc;
}
.navbar .container .navbar-toggler {
  border: none;
  font-weight: bold;
}

footer {
  width: 100%;
  padding: 20px 0px;
  background-color: #525fe1;
  border-radius: 80px 80px 0px 0px;
}

.container__footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
}

.box__footer {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.box__footer .logo a {
  font-weight: 1000;
  font-size: 20px;
}

.box__footer .terms {
  max-width: 350px;
  margin-top: 20px;
  color: #f1f1f1;
}

.box__footer h3 {
  color: white;
}

.box__footer a {
  margin-top: 10px;
  color: white;
}

.box__footer a:hover {
  opacity: 0.8;
}

.box__footer a .fab {
  font-size: 20px;
}

.box__copyright {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding: 0px 40px;
}

.box__copyright p {
  margin-top: 20px;
  color: white;
}

.box__copyright hr {
  border: none;
  height: 1px;
  background-color: white;
}

.proximamente {
  background-image: url("../img/proximamente-back.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  padding: 80px 0px;
}
.proximamente .contenedor {
  max-width: 1200px;
  margin: auto;
  height: 85%;
  padding: 20px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
}
.proximamente .contenedor .imagen img {
  width: 90%;
}
.proximamente .contenedor .texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.proximamente .contenedor .texto h1 {
  font-weight: 1000;
}
.proximamente .contenedor .texto a {
  border: 1px solid #525fe1;
  border-radius: 5px;
  color: white;
  font-size: 18px;
  padding: 10px 15px;
  background-color: #525fe1;
}
.proximamente .contenedor .texto a:hover {
  background-color: transparent;
  color: #525fe1;
}

.contenedor__home {
  width: 100%;
  padding: 0px 20px;
  margin: 70px 0px 0px 0px;
}
.contenedor__home .home {
  height: 100%;
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.contenedor__home .home .texto h1 {
  font-weight: bold;
}
.contenedor__home .home .texto a {
  border: none;
  padding: 5px 20px;
  background-color: #525fe1;
  color: white;
  border-radius: 5px;
}
.contenedor__home .home .texto a:hover {
  background-color: #f9fbfc;
  border: solid 1px #525fe1;
  color: #525fe1;
}
.contenedor__home img {
  width: 100%;
}

.contenedor__programa {
  width: 100%;
  background-color: #525fe1;
  box-shadow: 0px 0px 30px -20px rgba(0, 0, 0, 0.5);
  padding: 50px 0px;
}
.contenedor__programa .programa {
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
}
.contenedor__programa .programa .texto {
  color: white;
}
.contenedor__programa .programa .bloques {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.contenedor__programa .programa .bloques .bloques__forma {
  width: 80px;
  height: 80px;
  text-align: center;
  background-color: #f9fbfc;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contenedor__programa .programa .bloques .bloques__forma:hover {
  background-color: #525fe1;
  border: #f9fbfc solid 1px;
  color: white;
  transform: scale(1.1);
  transition: all 300ms;
}

.galeriaIndex {
  max-width: 900px;
  margin: 0 auto;
}
.galeriaIndex .carousel .carousel-item {
  max-height: 60vh;
}
.galeriaIndex .carousel .carousel-item img {
  filter: brightness(0.4);
}

.formularios {
  width: 100%;
  padding: 20px;
}
.formularios .contenedor__formularios {
  padding: 20px;
  max-width: 900px;
  margin: 0 auto;
}
.formularios .contenedor__formularios .contenedor__cards {
  margin: 20px 0px;
}

.descargar_programa {
  padding: 40px 0px 0px;
  text-align: center;
  color: white;
  font-size: 18px;
}
.descargar_programa a {
  color: white;
  text-decoration: underline;
}

@media (min-width: 576px) {
  .contenedor__home {
    height: 40vh;
  }
  .contenedor__home .home {
    flex-direction: row;
  }
}
@media (min-width: 768px) {
  .contenedor__home {
    height: 50vh;
  }
  .contenedor__programa .programa {
    flex-direction: row;
    align-items: center;
  }
  .contenedor__programa .texto {
    width: 70%;
  }
  .contenedor__programa .bloques {
    flex-wrap: wrap;
  }
}
@media (min-width: 992px) {
  .contenedor__home {
    height: 50vh;
  }
  .contenedor__home .home {
    padding: 50px;
  }
  .contenedor__programa .programa .texto {
    width: 80%;
  }
}
@media (min-width: 1200px) {
  .contenedor__home {
    height: 60vh;
  }
  .contenedor__home .home {
    max-width: 1080px;
    margin: auto;
  }
  .contenedor__programa .programa {
    max-width: 900px;
    margin: auto;
  }
}
.contenedor__info {
  height: auto;
  padding: 40px 0px;
  background-color: #525fe1;
}
.contenedor__info .info .temario_secciones {
  display: flex;
  justify-content: center;
}

@media (min-width: 576px) {
  .contenedor__tema {
    height: 50vh;
  }
  .contenedor__tema .tema {
    flex-direction: row;
  }
}
@media (min-width: 768px) {
  .contenedor__tema .tema {
    max-width: 1080px;
  }
  .contenedor__info .info {
    max-width: 1200px;
    margin: auto;
  }
  .separacion__info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
  }
  .separacion__info .accordion {
    width: 80%;
  }
  .separacion__info .lateral {
    width: 30%;
  }
}
@media (min-width: 992px) {
  .contenedor__tema {
    height: 70vh;
  }
}
.u {
  padding: 0px 20px;
}
.u .examen {
  padding: 20px 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.u .examen iframe {
  height: 450px;
}
@media (min-width: 576px) {
  .u .examen iframe {
    height: 650px;
    width: 80%;
  }
}
@media (min-width: 992px) {
  .u {
    padding: 0px;
    display: grid;
    grid-template-columns: 25vw 73vw;
  }
  .u .t {
    background-color: #e7e9eb;
    padding: 40px 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .u .t a:hover {
    color: #525fe1;
  }
  .u .t .tm .tu {
    margin-bottom: 10px;
  }
  .u .t .tm ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0px 20px;
  }
}
.u .c {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 30px;
}
@media (min-width: 992px) {
  .u .c {
    padding: 40px 0px 0px 0px;
    gap: 0px;
  }
}
@media (min-width: 992px) {
  .u .c .unidad {
    margin-top: 70px;
  }
}
.u .c .unidadC {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (min-width: 992px) {
  .u .c .unidadC {
    height: 30%;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 0px 20px;
  }
}
.u .c .unidadC .texto {
  width: 100%;
}
@media (min-width: 992px) {
  .u .c .unidadC .texto {
    width: 60%;
  }
}
.u .c .unidadC .texto a {
  border: none;
  padding: 8px 15px;
  background-color: #525fe1;
  color: white;
  border-radius: 5px;
}
.u .c .unidadC .texto a:hover {
  background-color: #f9fbfc;
  border: solid 1px #525fe1;
  color: #525fe1;
}
.u .c .unidadC .i img {
  max-height: 250px;
  width: 100%;
}
.u .c .material {
  margin-bottom: 20px;
}
.u .c .material h3 {
  text-align: center;
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  .u .c .material h3 {
    margin-bottom: 0px;
    flex-direction: row;
  }
}
.u .c .material .materiales {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 450px;
  margin: auto;
}
@media (min-width: 992px) {
  .u .c .material .materiales {
    max-width: 90%;
    gap: 5px;
    flex-direction: row;
  }
}
.u .c .material .materiales .material1, .u .c .material .materiales .material2 {
  border-radius: 5px;
  overflow: hidden;
}
@media (min-width: 768px) {
  .u .c .material .materiales .material1 iframe, .u .c .material .materiales .material2 iframe {
    height: 315px;
  }
}
@media (min-width: 992px) {
  .u .c .material .materiales .material1, .u .c .material .materiales .material2 {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .u .c .material .materiales {
    padding: 40px 0px;
  }
}
.u .info {
  height: 100%;
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  .u .info {
    padding: 40px 80px;
  }
}
.u .info .imagen {
  text-align: center;
}

.tema-seleccionado {
  color: #525fe1;
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */
