.titulo{
    position: sticky;
    top: 65px;
    width: 100%;
    height: 95px;
    padding: 15px 10px 15px 20px;
    background-color: #525fe1;
    color: white;
    h3, h5, h6{
        margin: 0;
    }
    h6{
        color: #d2d2d2;
    }
    h5{
        font-weight: bold;
    }
    .contenedor_titulo{
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        max-width: 1080px;
        margin: auto;
        text-align: left;
    }
}
.unidad{
    width: 100%;
    .contenedor_unidad{
        max-width: 1200px;
        margin: auto;
        .temas{
            width: 100%;
            margin: 20px 0px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            @media(min-width: 768px){
                flex-direction: row;
                justify-content: center;
                gap: 10px;
                padding: 20px;
            }
            .tema{
                max-width: 440px;
                border: 1px solid #d2d2d2;
                border-radius: 5px;
                .encabezado{
                    padding: 5px 10px;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    border-bottom: 1px solid #d2d2d2;
                    h6{
                        margin: 0;
                    }
                    .img{
                        height: 60px;
                        width: 60px;
                    }
                }
                .temario{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding: 10px 10px 10px 25px;
                    a{
                        &:hover{
                            color: #525fe1;
                        }
                    }
                }
            }
        }
    }
}

.unidad{
    width: 100%;
    .contenedor_contenidos{
        max-width: 1200px;
        margin: auto;
        margin-top: 80px;
        margin-bottom: 40px;
        @media(min-width: 768px){
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-evenly;
            gap: 20px;
            padding: 20px;
        }
        .contenidos{
            border: 1px solid #d2d2d2;
            border-radius: 5px;
            padding: 20px 0px;
            h1,h2,h3,h4,h5,h6{
                margin: 0;
                font-weight: bold;
            }
            .objetivo{
                h3{
                    margin-bottom: 5px;
                }
                padding: 20px;
            }
            .contenido{
                padding: 0 20px;
                display: flex;
                flex-direction: column;
                gap: 25px;
                a{
                    i{
                        font-size: 20px;
                    }
                    &:hover{
                        color: #525fe1;
                    }
                }
                .tema{
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                }
            }
        }
        .lateral{
            width: 270px;
            padding: 10px 0px;
            h4{
                font-weight: bold;
            }
            .juego{
                display: flex;
                flex-direction: column;
                gap: 10px;
                a{
                    padding: 10px;
                    border: #d2d2d2 1px solid;
                    border-radius: 5px;
                    .tipo{
                        color: gray;
                        margin-bottom: 2px;
                        font-size: 14px;
                    }
                    .temaJuego{
                        font-weight: bold;
                    }
                }
            }
        }
    }
}