@font-face {
    font-family: MuseoSansRounded;
    src: 
    url('./font/MuseoSansRounded100.otf'),
    url('./font/MuseoSansRounded300.otf'),
    url('./font/MuseoSansRounded500.otf'),
    url('./font/MuseoSansRounded700.otf'),
    url('./font/MuseoSansRounded900.otf'),
    url('./font/MuseoSansRounded1000.otf')
    ;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: MuseoSansRounded;
}
body{
    background: 
        url("../../img/bg-1.svg") top no-repeat,
        url("../../img/bg-2.svg") center center no-repeat,
        url("../../img/bg-3.svg") bottom center no-repeat;
}